
<div class="page-title">Products we offer</div>
<div class="page-title-border"></div><br/><br/>

<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
     <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">          
               <span class="button-head">Filter:</span>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-2 col-lg-2 button dropdown" style="padding-bottom:3%">
               <select class="form-control" id="status" name="status" ng-model="filtercontent" ng-change="changed()">
                    <option value="">All</option>
                    <option value="{{filter.type}}" ng-repeat="filter in typefilter">{{filter.type}}</option> 
               </select>
          </div> 
          <div class="col-xs-6 col-sm-3 col-md-1 col-lg-1">          
               <span class="button-head">Sort By:</span>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
               <div class="btn-group" role="group" aria-label="..." style="padding-bottom:3%">
                    <button id="ab_sort" type="button" class="btn btn-default" ng-click="setSort_ab()">Name &nbsp;<span ng-class="ordr_ab ? 'glyphicon glyphicon-triangle-bottom' : 'glyphicon glyphicon-triangle-top'"></span></button>
                    <button id="cr_sort" type="button" class="btn btn-default" ng-click="setSort_cr()">Created date &nbsp;<span ng-class="ordr_cr ? 'glyphicon glyphicon-triangle-bottom' : 'glyphicon glyphicon-triangle-top'"></span></button>
                    <button id="ud_sort" type="button" class="btn btn-default" ng-click="setSort_ud()">Updated date &nbsp;<span ng-class="ordr_ud ? 'glyphicon glyphicon-triangle-bottom' : 'glyphicon glyphicon-triangle-top'"></span></button>
              </div>
          </div> 
     </div>
</div>

<div class="loadingdiv col-md-12 col-sm-12 col-xs-12 col-lg-12 hvr-bounce-to-right" style="text-align:center;">
     <h4 style="text-align:center;">Loading products .....</h4>
</div>

<div class="col-md-4 col-sm-6 col-xs-12 col-lg-4 prod_wrapper aniup" style="position:relative;float:left;padding-bottom:15px;" ng-repeat="product in products | filter: keyword | filter: filtercontent |orderBy:parameter:ordr">
     <li ng-show="!products.length">No Products</li>
     <div class="media prod_module prod-container" style="padding:1%">
          <div class="hidden-xs media-left">
               <img class="media-object prod-img" src="{{imgabsolute+product.pimgpath}}" alt="...">
          </div>
        <!--   <div class="hidden-md hidden-sm hidden-lg" style="width:25px;height:175px;border-left:solid #2A3744 4px;float:left;">       </div> -->
          <div class="media-body prod-text">
               <span class="media-heading">{{product.pname}}</span><br/>
               <span class="prod-sub-head"><b>Type:</b></span>
               <span class="prod-sub-text">{{product.type}}</span><br/>
               <span class="prod-sub-head"><b>Strength:</b></span>
               <span class="prod-sub-text">{{product.pstrength}}</span><br/>
               <span class="prod-sub-head"><b>Packaging Size:</b></span>
               <span class="prod-sub-text">{{product.ppacksize}}</span><br/>              
          </div>
     </div>
</div>


<script>
  	$(document).ready(function(){

    $('.nav a').parent().removeClass('active');

  		$("#searchform").show();
          $(".loadingdiv").show();

            $("#cr_sort").click(function(){
              $(this).css({'background-color':'#2098D1'});
              $("#ud_sort").css({'background-color':'#FFF'});
              $("#ab_sort").css({'background-color':'#FFF'});
            });

            $("#ud_sort").click(function(){
              $(this).css({'background-color':'#2098D1'});
              $("#cr_sort").css({'background-color':'#FFF'});
              $("#ab_sort").css({'background-color':'#FFF'});
            });

            $("#ab_sort").click(function(){
              $(this).css({'background-color':'#2098D1'});
              $("#cr_sort").css({'background-color':'#FFF'});
              $("#ud_sort").css({'background-color':'#FFF'});
            });

          setTimeout(function(){
                 $(".loadingdiv").fadeOut(300);
                               },700);   
  	});

    $(function () {
      $('.nav a:contains("Products")').parent().addClass('active');
  });


  </script>